body {
    margin-top: 20px;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.text-bold {
    font-weight: bold;
    color: black;
}